In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
data = [['Afghanistan', 'Dari'], ['Algeria', 'Algerian Arabic'], ['American Samoa', 'Samoan'], ['Angola', 'Portuguese'], ['Anguilla', 'English'],
        ['Argentina', 'Spanish'], ['Armenia', 'Armenian'], ['Australia', 'English'], ['Austria', 'German'], ['Azerbaijan', 'Azerbaijani']
       , ['Bahrain', 'Arabic'], ['Bangladesh', 'Bangla']]

In [66]:
df = pd.DataFrame(data, columns=['Country', 'Language'])

In [67]:
df

           Country         Language
0      Afghanistan             Dari
1          Algeria  Algerian Arabic
2   American Samoa           Samoan
3           Angola       Portuguese
4         Anguilla          English
5        Argentina          Spanish
6          Armenia         Armenian
7        Australia          English
8          Austria           German
9       Azerbaijan      Azerbaijani
10         Bahrain           Arabic
11      Bangladesh           Bangla

In [51]:
df3=pd.read_csv("C:\\Users\\bisha\\OneDrive\\Documents\\GitHub\\Cantek_Python_Practice\\Project_3_SQL_Python\\6_mer_sample.csv")

In [52]:
csv_location="C:\\Users\\bisha\\OneDrive\\Documents\\GitHub\\Cantek_Python_Practice\\Project_3_SQL_Python\\6_mer_sample.csv"

In [53]:
df3=pd.read_csv(csv_location)

In [54]:
df3

           country          last_update
0      Afghanistan  2006-02-15 09:44:00
1          Algeria  2006-02-15 09:44:00
2   American Samoa  2006-02-15 09:44:00
3           Angola  2006-02-15 09:44:00
4         Anguilla  2006-02-15 09:44:00
5        Argentina  2006-02-15 09:44:00
6          Armenia  2006-02-15 09:44:00
7        Australia  2006-02-15 09:44:00
8          Austria  2006-02-15 09:44:00
9       Azerbaijan  2006-02-15 09:44:00
10         Bahrain  2006-02-15 09:44:00
11      Bangladesh  2006-02-15 09:44:00

In [68]:
joined_df5 = df.join(df3, how="inner")
print(joined_df5)

           Country         Language         country          last_update
0      Afghanistan             Dari     Afghanistan  2006-02-15 09:44:00
1          Algeria  Algerian Arabic         Algeria  2006-02-15 09:44:00
2   American Samoa           Samoan  American Samoa  2006-02-15 09:44:00
3           Angola       Portuguese          Angola  2006-02-15 09:44:00
4         Anguilla          English        Anguilla  2006-02-15 09:44:00
5        Argentina          Spanish       Argentina  2006-02-15 09:44:00
6          Armenia         Armenian         Armenia  2006-02-15 09:44:00
7        Australia          English       Australia  2006-02-15 09:44:00
8          Austria           German         Austria  2006-02-15 09:44:00
9       Azerbaijan      Azerbaijani      Azerbaijan  2006-02-15 09:44:00
10         Bahrain           Arabic         Bahrain  2006-02-15 09:44:00
11      Bangladesh           Bangla      Bangladesh  2006-02-15 09:44:00