In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
data = [['Afghanistan', 'Dari'], ['Algeria', 'Algerian Arabic'], ['American Samoa', 'Samoan'], ['Angola', 'Portuguese'], ['Anguilla', 'English'],
        ['Argentina', 'Spanish'], ['Armenia', 'Armenian'], ['Australia', 'English'], ['Austria', 'German'], ['Azerbaijan', 'Azerbaijani']
       , ['Bahrain', 'Arabic'], ['Bangladesh', 'Bangla']]

In [7]:
df = pd.DataFrame(data, columns=['Country', 'Language'])

In [9]:
df

           Country         Language
0      Afghanistan             Dari
1          Algeria  Algerian Arabic
2   American Samoa           Samoan
3           Angola       Portuguese
4         Anguilla          English
5        Argentina          Spanish
6          Armenia         Armenian
7        Australia          English
8          Austria           German
9       Azerbaijan      Azerbaijani
10         Bahrain           Arabic
11      Bangladesh           Bangla